src/main/resources/xjc/medline/medline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Source: https://github.com/lstern/psilibrary/blob/master/doc/medline/medline.xsd-->
<!--
     This is the Current DTD which NLM has written for 
  External  Use.  If you are a NCBI User, use the information
  from the PubmedArticleSet.
  
  Comments and suggestions are welcome.
  (May 9, 2000)
  
  Corrections:
  ~~~~~~~~~~~
  Oct. 09 2002 
  - "PubMedArticle" has been renamed to "PubmedArticle"
  - All referencies to "PubMedArticle" has been removed
  - "ProviderId" has been removed from PubmedData
  - "URL" has been removed from PubmdeData
  
  	$Id: pubmed_160101.dtd 480858 2015-10-05 15:12:19Z korobtch $
  
-->
<!-- ================================================================= -->
<!-- ================================================================= -->
<!-- Reference to Where the MEDLINECITATION DTD is located -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="nlmmedlinecitationset_160101.xsd"/>
  <xs:include schemaLocation="bookdoc_160101.xsd"/>
  <!-- ================================================================= -->
  <xs:simpleType name="iso.language.codes">
    <xs:restriction base="xs:token">
      <xs:enumeration value="AF"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="BG"/>
      <xs:enumeration value="CS"/>
      <xs:enumeration value="DA"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="EN"/>
      <xs:enumeration value="EL"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="FA"/>
      <xs:enumeration value="FI"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="HE"/>
      <xs:enumeration value="HU"/>
      <xs:enumeration value="HY"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="IS"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="IW"/>
      <xs:enumeration value="JA"/>
      <xs:enumeration value="KA"/>
      <xs:enumeration value="KO"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="MK"/>
      <xs:enumeration value="ML"/>
      <xs:enumeration value="NL"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="PS"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RU"/>
      <xs:enumeration value="SL"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="SQ"/>
      <xs:enumeration value="SR"/>
      <xs:enumeration value="SV"/>
      <xs:enumeration value="SW"/>
      <xs:enumeration value="TH"/>
      <xs:enumeration value="TR"/>
      <xs:enumeration value="UK"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="ZH"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pub.status.int">
    <xs:restriction base="xs:token">
      <xs:enumeration value="pmc"/>
      <xs:enumeration value="pmcr"/>
      <xs:enumeration value="pubmed"/>
      <xs:enumeration value="pubmedr"/>
      <xs:enumeration value="premedline"/>
      <xs:enumeration value="medline"/>
      <xs:enumeration value="medliner"/>
      <xs:enumeration value="entrez"/>
      <xs:enumeration value="pmc-release"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pub.status">
    <xs:union memberTypes="pub.status.int">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="received"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="accepted"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="epublish"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ppublish"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="revised"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="aheadofprint"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retracted"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ecollection"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="art.id.type.int">
    <xs:restriction base="xs:token">
      <xs:enumeration value="pubmed"/>
      <xs:enumeration value="medline"/>
      <xs:enumeration value="pmcid"/>
      <xs:enumeration value="pmcbook"/>
      <xs:enumeration value="bookaccession"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="art.id.type">
    <xs:union memberTypes="art.id.type.int">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="doi"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pii"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pmcpid"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pmpid"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pmc"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mid"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="sici"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <!-- ================================================================= -->
  <xs:element name="PubmedArticleSet">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="PubmedArticle"/>
        <xs:element ref="PubmedBookArticle"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!-- ================================================================= -->
  <!-- This is the top level element for PubMedArticle -->
  <xs:element name="PubmedArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MedlineCitation"/>
        <xs:element minOccurs="0" ref="PubmedData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ================================================================= -->
  <xs:complexType name="normal.date">
    <xs:sequence>
      <xs:element ref="Year"/>
      <xs:element ref="Month"/>
      <xs:element ref="Day"/>
      <xs:sequence minOccurs="0">
        <xs:element ref="Hour"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="Minute"/>
          <xs:element minOccurs="0" ref="Second"/>
        </xs:sequence>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PubmedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="History"/>
        <xs:element ref="PublicationStatus"/>
        <xs:element ref="ArticleIdList"/>
        <xs:element minOccurs="0" ref="ObjectList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PubMedPubDate">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="normal.date">
          <xs:attributeGroup ref="attlist.PubMedPubDate"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.PubMedPubDate">
    <xs:attribute name="PubStatus" use="required" type="pub.status"/>
  </xs:attributeGroup>
  <xs:element name="PublicationStatus" type="xs:string"/>
  <xs:element name="ArticleIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ArticleId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArticleId">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.ArticleId"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.ArticleId">
    <xs:attribute name="IdType" default="pubmed" type="art.id.type"/>
  </xs:attributeGroup>
  <xs:element name="History">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PubMedPubDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="URL">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.URL"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.URL">
    <xs:attribute name="lang" type="iso.language.codes"/>
    <xs:attribute name="Type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="FullText"/>
          <xs:enumeration value="Summary"/>
          <xs:enumeration value="fulltext"/>
          <xs:enumeration value="summary"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="ObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Object"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Object">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Param"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.Object"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Object">
    <xs:attribute name="Type" use="required"/>
  </xs:attributeGroup>
  <xs:element name="Param">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="text">
          <xs:attributeGroup ref="attlist.Param"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Param">
    <xs:attribute name="Name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="Hour" type="xs:string"/>
  <xs:element name="Minute" type="xs:string"/>
  <xs:element name="Second" type="xs:string"/>
  <!-- ================================================================= -->
</xs:schema>
<!-- ================================================================= -->
